<!DOCTYPE html>

<html lang="en">

<head>

    {% block title %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'products/styles.css' %}">

</head>

<body>

    <nav class="navbar">

        <div class="nav-container">

            <a href="{% url 'product_list' %}" class="nav-link">Products</a> 
            <a href="{% url 'sales_calendar' %}" class="nav-link">Calendar</a>
            <a href="{% url 'manage_products' %}" class="nav-link">Manage</a>

        </div>

    </nav>    

    {% block body %} {% endblock %}

    <!-- <script src="{% static 'products/js/scripts.js' %}"></script> -->
</body>

</html>